input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.login_warpper {
  width: 100vw;
  height: 100vh;
  background: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease-in-out;
  position:absolute; 
  top: 0;
  left: 0;
}

.removed {
  opacity: 0;
  pointer-events: none;
}

.vissualyhidden {
  visibility: hidden;
}

.login_warpper .card {
  width: 400px;
  height: 400px;
  max-width: 95%;
  max-height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_warpper h1 {
  margin-bottom: 60px;
  font-size: 35px;
}

.login_warpper label,
.login_warpper input {
  font-size: 18px;
}

.login_warpper #login,
.login_warpper #login:focus {
  margin-left: 20px;
  border: 0;
  border-bottom: 1px solid black;
}

#create_account_button,
#login_button {
  margin-top: 60px;
  background: transparent;
  border: 0;
  color: blue;
  font-weight: 500;
  cursor: pointer;
}

#login_button,
#add_field_button,
.button {
  margin: 20px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  line-height: 20px;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  background: white;
  cursor: pointer;
}

#login_button.error,
#add_field_button.error, 
.button.error {
  color: red;
  border: 1px solid red;
}

.content_wrapper {
  display: flex;
}

.fields_wrapper,
.input_wrapper {
  width: 33.3%;
  position: relative;
}

.fields_list{
  height: 100vh;
  overflow-y: scroll;
}

.fields_template{
  position: relative;
}

.add_field_treatments,
.make_product{
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  height: 35px;
  width: 35px;
  margin :auto;
  border-radius: 50%; 
  background: green;
  line-height: 35px;
  text-align: center;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.make_product{
  right: 60px;
  background: orange;
}

.add_field{
  position: absolute;
  left: 20px;
  bottom: 20px;
  background: yellow;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 40px;
  font-size: 30px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,.1), 0 6px 6px rgba(0,0,0,.05);
  cursor: pointer;
}

.field_input_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.field_input_content_wrapper{
  max-width: 80%;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
}

.field_inputs_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.treatment_input_wrapper{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.treatment_input_wrapper{
  text-align:center;
}

.treatment_input_wrapper select{
  min-width: 200px;
  text-align: center;
}

.make_product_wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}